<!doctype html>
<html>
<head>
    <title>Juleverksted</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script type="text/javascript" src="/js/Models.js"></script>
    <script type="text/javascript" src="/js/Views.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <script type="text/html" id="postBarTemplate">
    {% raw %}
    <div id="${id}" class="item" 
        style="width:${width}px; height:${height}px;">

        <span style="height: ${height}px;width:${width - 1}px;">
            ${millions} mill
        </span>
        <p>${name}</p>
    </div>
    {% endraw %}
    </script>

    <script type="text/html" id="circleTemplate">
    {% raw %}
    <div id="${id}" class="circle" style="width:${size}px;height:${size}px;">
        <span>${post}</span>
    </div>
    {% endraw %}
    </script>

    {{this.content}}

    <div class="hor" style="display:none;"></div>
    <div class="top"></div>
    <div class="tmp">
        <div class="stripe">
            <div class="bullet">
                <span>#01</span>
            </div>
            <h1>…………traalalal</h1>
            <p>Jadda skrift.</p>
        </div>
    </div>
    <div class="circles"></div>
    <div class="bottom">
        <div class="items"></div>
    </div>
    <div class="green"></div>
    
    
    <script type="text/javascript">
        // Start the real Backbone app here
        $(function() {
            window.App = new BudgetApp();
            Backbone.history.start();
        });
    </script>
</body>
</html>
