<!doctype html>
<html>
<head>
    <title>Juleverksted</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/backbone-min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <script type="text/javascript" src="/js/Models.js"></script>
    <script type="text/javascript" src="/js/Views.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <script type="text/html" id="postBarTemplate">
    {% raw %}
    <div class="item left">
        <span style="height: ${height}px;"></span>
    </div>
    {% endraw %}
    </script>
    {{this.content}}
    <div class="bottom">
        <div class="items">
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item left"><span style="height:200px"></span></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item right"><span style="height:200px"></span></div>
            <div class="item right"><span style="height:200px"></span></div>
            <div class="item right"><span style="height:100px"></span></div>
            <div class="item right"><span style="height:210px"></span></div>
            <div class="item right"><span style="height:120px"></span></div>
            <div class="item right"><span style="height:120px"></span></div>
            <div class="item right"><span style="height:243px"></span></div>
            <div class="item right"><span style="height:96px"></span></div>
            
        </div>
    </div>
    
    
    <script type="text/javascript">
        // Start the real Backbone app here
        $(function() {
            window.App = new BudgetApp();
            Backbone.history.start();
        });
    </script>
</body>
</html>
