<!DOCTYPE html>
<html>
    <head>
    <title>Juleverksted</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css"
    </head>
    <body>
    
        <div class="bottom">
            <div class="items">
                <div class="item left" style="height:50%"></div>
                <div class="item left" style="height:20%"></div>
                <div class="item right"></div>
                <div class="item left"></div>
                <div class="item left"></div>
                <div class="item right"></div>
                <div class="item left"></div>
                <div class="item right"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                <div class="item right"></div>
                
            </div>
        </div>
    
    
    </body>
</html>
